.piece.red { background: #f00; }
.piece.green { background: #0f0; }
.piece.blue { background: #00f; }
.piece.yellow { background: #ff0; }

.square.red { border-color: #f00; }
.square.green { border-color: #0f0; }
.square.blue { border-color: #00f; }
.square.yellow { border-color: #ff0; }

div.square {
  position: absolute;
  width: 40px;
  height: 40px;
  border: solid 1px;
}

div.piece {
  width: 80%;
  height: 80%;
  border: solid 1px black;
  margin: 2px;
}
